.session-form-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.session-form {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.309);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 400px;
  padding: 10px 30px;
}

.errors {
  color: red;
  height: 15px;
  line-height: 15px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-b {
  background-color: #626161;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

.button-container {
  margin: 20px 0 15px;
}

.session-b:hover {
  background-color: #222;
  cursor: pointer;
}

.session-header {
  padding: 15px 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.session-b:disabled {
  background-color: #8a8a8a;
  cursor: default;
}

.session-input {
  border-radius: 5px;
  border: none;
  font-weight: lighter;
  background-color: #e6e6e6;
  height: 3rem;
  width: 20rem;
  padding-left: 10px;
  font-weight:bold;
}
