.mainbox-container {
  margin: 20px 100px 0px 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.posts-container {
  flex-grow: 1;
}

.filter {
  background: none;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

.filter-container {
  margin-bottom: 20px;
}

.active {
  font-weight: bold;
}
